body{
    margin: 0;
}
/*container-1 */

.container-1{
    background-color: rgb(27, 25, 25);
    text-align: center;
    color: #eee;
    /*padding: 300px 150px 300px 150px;*/
}

/*navbar css*/

.navbar{
    padding: 30px 50px 0 100px;
    display: flex;
}

.link{
    padding: 20px;
    font-size: 1.2rem;
    font-family:'Roboto', sans-serif;
}

.a{
    text-decoration: none;
    color: #eee;
}

.title{
    padding: 140px 150px 250px 150px;
    font-family:'Roboto', sans-serif;
    font-size: 2.8rem;
}

h1{
    margin-bottom: 9px;
}
.subtitle{
    font-size: 1.4rem;
}

/*container-2*/

#container-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 90px 120px 50px 150px;
    font-family:'Roboto', sans-serif;
}

/*image css*/

.imagediv{
    text-align: center;
}

img{
    width: 400px;
    height: 560px;
    padding-top: 100px;
}

.para-1{
    line-height: 1.8;
    font-size: 1.2rem;
    font-weight:bold
}

.para-1-title{
    margin-top: 100px;
}

/*container-3*/

.container-3{
    text-align: center;   
    padding-bottom: 60px;
}

/*buttons css*/

.btn{
    font-family:'Roboto', sans-serif;
    font-size: 1.1rem;
    margin-right: 8px;
    font-weight: bold;
    border: none;
    border-radius: 5%;
}

.btns{
    display: flex;
    justify-content: center;
}

.icon{
    margin-right: 8px;
}

.btn1{
    background-color: rgb(207, 201, 201);  
    padding: 8px 25px 8px 25px; 
}

.btn2{
    background-color: orangered; 
    padding: 8px 45px 8px 45px;
    color: #eee;
}
.btn3{
    background-color: orange;
    padding: 8px 45px 8px 45px;
    color: #eee;
}

/*container-4*/

.container-4{
    background-color: rgb(27, 25, 25);
    text-align: center;
    color: #eee;
    font-family: 'Roboto', sans-serif;
}

.quote{
    padding: 90px 10px 90px 10px;
    font-weight: bold;
}

/*fieldset css */

fieldset{
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid rgb(206, 199, 199);
}

legend{
    text-align: center;
    display: flex;
}

.awardhr{
    margin: 0;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
}

.star{
    padding: 0 10px 0 10px;
}

.hr{
    margin-top: 60px;
}

/* container-5 different awards css*/

#container-5{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 80px 150px 80px 150px;
    gap: 20px;  
    margin-bottom: 50px;
}

@media(max-width:1300px){
    #container-5{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    img{
        padding-top: 150px;
    }

    .container-6{
        padding-left: 130px;
    }
  }
  
/*award section*/

.awards1{
    border: 0.5px solid rgb(177, 169, 169);
    text-align: left;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5%;
    font-weight: bold;
    color: rgb(110, 107, 107);
}

.medal{
    margin-bottom: 4px;
    color: black;
}

h5{
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    color: rgb(192, 192, 192);
}


/*list of poems*/

.container-6{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-left: 180px;
    padding-right: 130px;
    padding-bottom: 100px;
}

.poems{
    margin-bottom: 60px;
}

.list{
    font-family:'Roboto', sans-serif;
    color: rgb(37, 37, 37);
    line-height: 1.5rem;
    font-weight: bold;
    word-spacing: 2px;
}

.list-2{
    margin-left: 40px;
}

/*container-7*/

.container-7{
    background-color:rgb(27, 25, 25);
    color: #eee;  
}

.footer{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding: 80px 120px;
}

.footer-1{
   border-right: 1px solid rgb(49, 49, 49);
}

h4{
    font-family:'Roboto', sans-serif;
    margin-left: 15px;
    margin-bottom: 15px;
}
.f-1{
    margin-bottom: 8px;
}
.f-2{
    margin-top:0;
    line-height: 1.5;
}
.footerdata{
    font-family:'Roboto', sans-serif;
    font-size: 0.9rem;
    margin-left: 15px;
}

.span-1{
    color: rgb(156, 150, 150);
}

.span-2{
    color: cornflowerblue;
}


/*media querys*/

@media(max-width:1200px){
    #container-2{
        display: block;
    }

    img{
        padding-top: 50px;
        padding-bottom: 20px;
    }
}

@media(max-width:1000px){
    .container-6{
        display: block;
    }

    .list-2{
        margin-left: 0;
    }

    .poems{
        margin-top: 60px;
    }

    .footer{
        display: block;
        padding-bottom: 50px;
    }
}

@media(max-width:770px){
    #container-5{
        display: block;
    }
    .awards1{
        margin-bottom: 30px;
    }
    #container-2{
        padding-left: 100px;
        padding-right: 100px;
    }
    .footer{
        padding-left: 10px;
        padding-right: 10px;
    }
    .btns{
        display: block;
    }
    .btn1,.btn2,.btn3{
        margin-bottom: 20px;
    }
    .navbar{
        display: block;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media(max-width:600px){
    #container-2{
        padding-left: 40px;
        padding-right: 40px;
    }
    #container-5{
        padding-left: 40px;
        padding-right: 40px;
    }
    .container-6{
        padding-left: 40px;
        padding-right: 40px;
    }
    .maintitle{
        font-size: 2.8rem;
    }
    .title{
        padding: 100px 40px 150px 40px;
    }
    .kaziimage{
        width: 250px;
        height: 350px;
    }
}

@media(max-width:281px){
      .kaziimage{
        width: 150px;
        height: 250px;
    }

    #container-2{
        padding-left: 10px;
        padding-right: 10px;
    }

    #container-5{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width:200px){
    body{
        min-width: fit-content;
    }
}

@media(max-width:230px){

    body{
        word-break: break-all;
    }

    #container-2{
        padding-left: 5px;
        padding-right: 8px;
    }

    #container-5{
        padding-left: 5px;
        padding-right: 8px;
    }

    .container-6{
        padding-left: 5px;
        padding-right: 8px;
    }
    .navbar{
        padding-left: 5px;
        padding-right: 5px;
    }
}